
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

venv/
.env


model/
*.joblib
*.pkl
*.h5


data/processed/

reports/*.txt

*.log


.DS_Store
Thumbs.db
.vscode/
.idea/


.ipynb_checkpoints/
